#card {
    margin: 100px;
    background-color: azure;
}

#searchBar {
    width: 100%;
}

#scroll {
    height: 380px;
    overflow-y: scroll;
}

p {
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}